<main class="container mt-5">
    <div class="row justify-content-between mt-5 mb-5">
        <div class="col-lg-4 d-grid">
            <button class="btn btn-success btn-lg py-5">Enter Prescription</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button id="addPatientBtn" class="btn btn-success btn-lg py-5">Add Patient</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button class="btn btn-success btn-lg py-5">Order Medication</button>
        </div>
    </div>

    <div class="row justify-content-between">
        <div class="col-lg-4 d-grid">
            <button class="btn btn-success btn-lg py-5">Vaccine Appointment</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button class="btn btn-success btn-lg py-5">Blister Patient</button>
        </div>
        <div class="col-lg-4 d-grid">
            <button class="btn btn-success btn-lg py-5">Transfer Patient</button>
        </div>
    </div>
</main>

<script>
    const addPatientBtn = document.querySelector("#addPatientBtn");
    function addPatient() {
        window.location.href = "addPatient";
    }
    addPatientBtn.addEventListener("click", addPatient);
</script>
