

    <main>
    <br>
    <h2>Our Team</h2>
    <br>
    <div class="row" id="teamGrid">
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="content/images/team_members/team_member1.jpg" class="card-title" alt="Team Member 1">
                <div class="card-body">
                    <h5 class="card-title">Bency Daniel Binu</h5>
                    <p class="card-text">Web Developer</p>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#team_member1">Details</a>
                </div>
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="content/images/team_members/team_member2.jpg" class="card-title" alt="Team Member 2">
                <div class="card-body">
                    <h5 class="card-title">Jubin Geevarghese Boban</h5>
                    <p class="card-text">Graphic Designer</p>
                    <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#team_member2">Details</a>
                </div>
            </div>
        </div>

    </div>

    <div class="modal fade" id="team_member1" tabindex="-1" aria-labelledby="team_member1Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="team_member1Label">Bency Daniel Binu</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Web Developer at Harmony Hub</p>
                    <p>Bency Daniel Binu is an experienced web developer with a passion for creating user-friendly and visually appealing websites.</p>

                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="team_member2" tabindex="-1" aria-labelledby="team_member2Label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="team_member2Label">Jubin Geevargheese Boban</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>Graphic Designer at Harmony Hub</p>
                    <p>Jubin Geevargheese Boban is a creative graphic designer with a keen eye for detail and a love
                        for bringing ideas to life through visuals.</p>

                </div>
            </div>
        </div>
    </div>

    <div id="map"></div>
    <br>
    <br>
    </main>


